img{
    width: 60%;
}
h1{
    font-family: serif;
    font-weight: 800;
}
.crew{
    /* text-align: center; */
    position: relative;
}
.container{
    padding-top: 5%;
}

h6{
    position:absolute;
    transform: rotate(90deg);
    top: 20%;
    right: 25%;
    font-size: 10px;
    font-family: serif;
    font-weight: 600;

}
.content p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
@media  (max-width: 500px)  {
h6{
    right: 20%;

}
.first h6{
    right: 11%;
}
.second h6{
    right: 18%;
}
}
.content p{
    text-align: center;
}